body {
  background: url(assets/images/background.jpg);
  background-repeat: repeat;
  font-family: var(--font-family);
  color: var(--text-color);
  margin: 0;
}

.p-multiselect {
  min-width: 15rem;
  width: 18rem;
}